.App{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.shortener{
  min-width: 40rem;
  height: 20rem;
  background-color: pink;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.controller{
  display: flex;
  gap: 1rem;
}

.shortener input{
  width: 30rem;
  outline: none;
  padding: 1rem;
  border: unset;
  border-radius: 10px;
  font-size: 1rem;
}

.shortener button{
  padding: 1rem;
  border-radius: 10px;
  border: unset;
  background-color: green;
  color: white;
  font-weight: 600;
  cursor: pointer;
  outline: unset;
}

.shortener button:active{
  background-color: darkgreen;
}

.short-link{
  padding: 1rem;
  background-color: black;
  color: white;
  border-radius: 15px;
}